// .example-sidenav {
//      padding: 20px;
//      margin: 50px;
// }

.sidebar-row{
    width: 100px;
    height: 50px;
}

.text-align{
    text-align: center;
    vertical-align: middle;
}

.icon-align{
    margin: auto;    
}