.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  
  .example-full-width {
    width: 100%;
  }
  

.text-center{
    text-align: center;
}

.example-text{
   height: 200px;
}

.height{
    margin-top: 20px;
}

// .example-form{
//   width: 100%;
// }
